@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */



body{
    background-color: rgb(240, 209, 167);
    padding: 20px;
}

.parent{
    width: 1480px;
    height: 195px;
    background-color: aquamarine;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url("./images/cof\ seeds.jpg");
}
.p1{
    margin-left: 154px;
    margin-top: 16px;
    /* border-radius: 10; */
}

.p2{
    font-family:'Lobster', cursive;
    font-size: xx-large;
    color: rgb(218, 187, 146);
    margin-left: 500px;
}
.link{
    background-color: rgb(102, 42, 42);
    text-decoration:dotted;
    text-align: center;
    height: 26px;
    margin-right: -17px;
}
.small{
    /* background-color: rgb(252, 252, 252); */
    color: black;
    margin-right: 1200px;
}
.vp{
    width: 1400px;
    height: 406px;
    /* background-color: aqua; */
    display: flex;
}
.vp1{
    padding-left: 20px;
}
.vp2{
    padding-left: 50px;
    color: darkred;
    padding-right: 100px;
    font-family:'Kaushan Script', cursive ;
    font-size: x-large;
}
.vp3{
    /* padding-left: 50px; */
    padding-top: 77px;
    margin-left: -182px;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}
.bt1{
    padding-left: 622px;
    margin-top: -41px;
    box-shadow: 5px 10px 18px rgb(217, 92, 92);
}
.al{
    /* background-color: royalblue; */
    width: 180px;
    height: 200px;
    font-size: large;
    font-family: 'Courgette', cursive;
}
.hd{
    font-family:'Kaushan Script', cursive ;
    color: darkred;
    margin-left: 264px;
    margin-top: -220px;
    font-size: x-large;
}
.main{
    margin-left: 267px;
    margin-top: -12px;
    /* background-color: aliceblue; */
    width: 1167px;
    height: 437px;
    display:flex;
    float: left;
    box-shadow: 5px 10px 18px rgb(217, 92, 92);
    background-image: url("./images/cover4.jpg");
    background-size: cover;
    color: antiquewhite;
}
.col{
    /* background-color: rgb(238, 176, 202); */
    width: 363px;
    height: 410px;
    justify-content: space-between;
    padding: 5px;
    border: 4px rgb(221, 39, 39) solid;
    font-size: small;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.main2{
    margin-left: 267px;
    margin-top: 20px;
    /* background-color: aliceblue; */
    width: 1167px;
    height: 437px;
    display:flex;
    float: left;
    box-shadow: 5px 10px 18px rgb(217, 92, 92);
    background-image: url("./images/cover4.jpg");
    background-size: cover;
    color: antiquewhite;
}
h3{
    font-family: 'Noto Sans', sans-serif;
    font-size:x-large;
    color:white;
}
.foot{
    width: 80%;
    height: 313px;
    margin-top: 165px;
    margin-left: 165px;
    display: flex;
    float: left;
    background-image: url("./images/cover8.webp")
}
.ft{
    width: 33%;
    height: 285px;
    border: 4px rgb(23, 22, 19) double;
    justify-content: space-between;
    padding: 10px;
    color: wheat;
}
.f1{
    width: 233px;
    height: 38px;
}
.page{
    margin-top: 1400px;
}